@import 'reset';
@import 'colors';
@import 'fontStyles';

body {
    max-width: 100vw;
}

// _____________HEADER_____________
.header {
    min-width: 100%;
    height: auto;
    background-color: $white;
    display: flex;
    padding: 10px 15px;
    
    @media screen and (min-width: 1850px) {
        padding: 24px 136px 42px 128px;
    }

    // _____________LOGO_____________
    .home {
        margin: auto;
        display: flex;
        transition: all 0.2s ease-in-out;
        
        &:hover, &:focus {
            transform: scale(1.1);
        }

        @media screen and (min-width: 400px) {
            margin: auto auto auto 15px;
            padding-top: 5px;
        }

        .logo {
            width: 40px;
            margin-top: auto;
            margin-bottom: auto;
    
            @media screen and (min-width: 1850px) {
                height: 65px;
                width: auto;
                margin: 0;
            }

        }

        h1 {
            display: inline-block;
            font-size: 1.6rem;
            font-family: $mont;
            color: $blue;
            font-weight: 600;
            margin: auto;
            padding-left: 15px;
            padding-top: 10px;
    
            @media screen and (min-width: 600px) {
                font-size: 2.3rem
            }

            @media screen and (min-width: 1850px) {
                padding-left: 32px;
            }

        }

    }

    // _____________NAVIGATION_____________
    .nav {
        display: none;
        position: absolute;
        top: 85px;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 99;
        background-color: $white;
        text-align: center;

        @media screen and (min-width: 900px) {
            position: relative;
            display: block;
            width: auto;
            background: none;
            top: 0;
        }
        
        li {
            text-transform: uppercase;
            font-family: $mont;
            font-weight: 400;
            font-size: 2rem;
            margin: 20px;

            @media screen and (min-width: 900px) {
                display: inline-block;
            }

            @media screen and (min-width: 1850px) {
                font-size: 2.4rem;
                margin-left: 25px;
                margin-right: 25px;
            }

        }

        .active {
            font-weight: 700;

            @media screen and (min-width: 1850px) {
                margin-right: 0;
            }
            
        }

        .active:after {

            @media screen and (min-width: 900px) {    
                content: '';
                width: 100px;
                position: absolute;
                top: 55px;
                left: 280px;
                height: 2px;
                background-color: $blue;
            }

            @media screen and (min-width: 1850px) {    
                width: 130px;
                top: 58px;
                left: 335px;
            }
            
        }

        .unactive {
            position: relative;
            overflow: hidden;
        }

        .unactive:after {
            content: '';
            position: absolute;
            z-index: -1;
            right: 0;
            width: 0;
            bottom: -16px;
            background: $blue;
            height: 2px;
            transition-property: width;
            transition-duration: 0.3s;
            transition-timing-function: ease-out;
          }
          
          .unactive:hover:after, .unactive:focus:after {
            left: 20px;
            right: 20px;
            width: 70%;
          }

    }

    .nav-visible {
        display: block;
    }

    .hamburger {
        transition: all 0.2s ease-in-out;

        @media screen and (min-width: 900px) {
            display: none;
        }

        .menu {
            margin-top: auto;
            margin-bottom: auto;
            width: 35px;
        }
    }

    .hamburger-animation{
        transform: rotate(90deg);
    }

}

// _____________MAIN_____________
.main {
    max-width: 100vw;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 900px) {
        flex-direction: row;
        height: 75vh; 
    }

    @media screen and (min-width: 900px) {
        height: auto; 
    }

    @media screen and (min-width: 1850px) {
        height: 947px; 
    }

    // _____________IMAGE_____________
    .image-container {
        width: 100%;
        height: 65vh;
        background-image: url('../img/kira-auf-der-heide-475626-unsplash.png');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        @media screen and (min-width: 600px) {
            background-position: center center;
        }

        @media screen and (min-width: 900px) {
            width: 50%;
            height: auto; 
        }

        @media screen and (min-width: 1850px) {
            background-position-y: -90px;  
        }

    }

    .image-container:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(180deg, rgba(32, 183, 250, 0) 0%, $teal 100%);
        opacity: 0.5;
    }

    // _____________CONTACT FORM_____________
    .contact-form-container {
        background-color: $white;
        padding: 15px;
        font-family: $sans;

        @media screen and (min-width: 600px) {
            padding: 30px;
        }

        @media screen and (min-width: 900px) {
            width: 50%;
            padding: 40px; 
        }

        @media screen and (min-width: 1150px) {
            padding: 80px; 
        }

        @media screen and (min-width: 1850px) {
            padding: 126px 140px 150px 140px;
            max-width: 968px; 
        }

        h2 {
            text-align: center;
            font-size: 2.8rem;
            font-weight: 700;
            font-family: $mont;
            margin: 20px auto 15px;

            @media screen and (min-width: 1850px) {
                font-size: 5rem;
                text-align: left;
            }

        }

        .info-fields {

            @media screen and (min-width: 700px) {
                display: flex;
                flex-direction: row;
            }

            .field:nth-of-type(1) {
                @media screen and (min-width: 700px) {
                    margin: 20px 15px 20px auto;
                    width: 50%;
                }

                @media screen and (min-width: 900px) {
                    margin: 20px auto 20px 0;
                    width: 50%;
                }

            }

            .field:nth-of-type(2){
                @media screen and (min-width: 700px) {
                    margin: 20px auto 20px 15px;
                    width: 50%;
                }

                @media screen and (min-width: 900px) {
                    margin: 20px 0 20px auto;
                    width: 40%;
                }

            }

        }

        .field {
            display: flex;
            flex-direction: column;
            font-size: 1.8rem;
            font-weight: 600;

            label {
                margin-bottom: 10px;
                margin-top: 15px;
            }

            input {
                font-family: $sans;
                font-size: 1.8rem;
                border: 1px solid $grey;
                border-radius: 5px;
                padding: 8px;

                @media screen and (min-width: 1850px) {
                    font-size: 1.7rem; 
                }

                @media screen and (min-width: 1850px) {
                    width: 398px;
                    height: 59px;
                }

            }

            .contact-form-name {

                @media screen and (min-width: 1850px) {
                    width: 261px;
                    margin-left: 13px;
                }

            }

            textarea {
                @extend input;
                height: 100px;

                @media screen and (min-width: 900px) {
                    height: 200px; 
                }

                @media screen and (min-width: 1850px) {
                    width: 674px;
                    height: 281px;
                    padding: 33px 32px 1px 29px;
                }
                
            }

        }

        .submit-button {
            display: block;
            margin: 30px auto 20px;
            background-color: $blue;
            width: 80%;
            max-width: 300px;
            border-radius: 50px;
            color: $white;
            font-weight: 700;
            font-size: 2rem;
            padding: 8px;
            transition: padding 0.2s ease-in-out;
            
            &:hover, &:focus {
                padding: 18px;
            }

            @media screen and (min-width: 1850px) {
                margin: 71px auto 0 auto;
                padding: 12.5px;
                max-width: 398px;
            }

        }

    }

}

// _____________SUBSCRIBE_____________
.subscribe {
    background-image: linear-gradient(180deg, $blue 0%, $teal 100%);
    width: 100%;
    height: auto;

    @media screen and (min-width: 900px) {
        padding: 100px;
    }

    @media screen and (min-width: 1850px) {
        padding: 221px 0 170px 0;
    }
    
    // _____________SUBSCRIBE FORM_____________
    form {
        padding: 10px;
        display: flex;
        flex-direction: column;

        h2 {
            text-align: center;
            font-size: 2.2rem;
            font-weight: 700;
            font-family: $mont;
            color: $white;
            margin: 20px auto 15px;

            @media screen and (min-width: 700px) {
                font-size: 2.5rem;
            }

            @media screen and (min-width: 900px) {
                font-size: 3.2rem;
            }

            @media screen and (min-width: 1850px) {
                font-size: 5rem;
                margin-bottom: 90px;
            } 

        }

        .fields {
            @media screen and (min-width: 700px) {
                display: flex;
                flex-direction: row; 
            }

            .field:nth-of-type(1) {
                @media screen and (min-width: 700px) {
                    margin: 20px 15px 20px auto;
                }
            }

            .field:nth-of-type(2){
                @media screen and (min-width: 700px) {
                    margin: 20px auto 20px 15px;
                }
            }

        }

        input {
            background: none;
            border-bottom: 1px solid $white;
            font-family: $sans;
            padding: 5px;
            padding-left: 42px;
            font-size: 1.6rem;
            margin: 10px auto;
            display: block;
            color: $white;

            @media screen and (min-width: 700px) {
                font-size: 1.9rem; 
            }

            @media screen and (min-width: 1850px) {
                width: 399px;
            }

        }

        .name-input {
            background-image: url('../img/USER_ICO.svg');
            background-repeat: no-repeat;
            background-position: left;
            background-position-x: 12px;
        }

        .email-input {
            @extend .name-input;
            background-image: url('../img/EMIAL_ICO.svg');
        }

        ::placeholder {
            font-family: $sans;
            color: $white;

            @media screen and (min-width: 1850px) {
                font-size: 2rem;
            }

        }

        button {
            font-family: $sans;
            background-color: $white;
            border-radius: 50px;
            width: 50%;
            max-width: 230px;
            color: $blue;
            font-weight: 700;
            padding: 10px;
            margin: 30px auto 20px;
            transition: padding 0.2s ease-in-out;

            &:hover, &:focus {
                padding: 20px;
            }

            @media screen and (min-width: 700px) {
                font-size: 1.8rem; 
            }

            @media screen and (min-width: 1850px) {
                margin-bottom: 0;
                padding: 16px;
                max-width: 300px;
            }

        }

    }

}