@import 'reset';
@import 'colors';
@import 'fontStyles';

body {
    background-color: red;
    width: 100vw;
}

.header {
    min-width: 100%;
    height: auto;
    background-color: $white;
    display: flex;
    padding: 10px 15px;

    .logo {
        width: 40px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .home {
        margin: auto;
    }

    h1 {
        display: inline-block;
        font-size: 1.6rem;
        font-family: $mont;
        color: $blue;
        font-weight: 600;
        margin: auto;
        margin-top: 3px;
    }

    .nav {
        display: none;
    }

    .menu {
        margin-top: auto;
        margin-bottom: auto;
        width: 35px;
    }
}

ul {
    a{
        li {
            display: inline;
            font-size: 2.4rem;
            text-transform: uppercase;
            
        }
    }
}

.main {
    width: 100vw;

    .image-container {
        width: 100%;
        height: 65vh;
        background-image: url('../img/kira-auf-der-heide-475626-unsplash.png');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .image-container:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(180deg, rgba(32, 183, 250, 0) 0%, $teal 100%);
        opacity: 0.5;
    }
}